* {
    margin: 10px;
}

a {
    color:blue;
    font-weight: 600;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 600;
}

h4, h5, h6 {
    font-weight: 400;
}

img {
    margin: 25px;
}

#nav {
    list-style: none;
    margin: 0;
    padding: 0;
}